.row h1{
    font-family: 'Open Sans';
    font-size: 50px;
    margin-bottom: .6em;
}

p{
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.6em;
}

button{
    border:1px solid $dark_purple !important;
    //background-color: $dark_purple2 !important;
    background: linear-gradient(to bottom, $dark_purple2, $dark_purple) !important;
    color: #fff;
    &:hover, &:focus{
        color:#fff !important;
    }
    &:focus{
        outline: 5px auto $dark_purple !important;
        outline-offset: -4px !important;
    }
}

.box{
    padding: 40px 0;
}

.divider{
    height:1px;
    background: linear-gradient(to right, rgba(100,100,100,.0), rgba(90,90,90,.5), rgba(100,100,100,.0))
}

.form-control:focus{
    border-color: $dark_purple !important;
    @include single-box-shadow(0px, 0px, 3px, 0px, $dark_purple);
}

#facebook{
    position:absolute;
    margin-left: 10px;
    margin-top: 80px;
    a{
        color: $dark_purple2;
    }
}

#main-header{
    position: relative;
    padding-top:0px;
    height:450px;
    background-image:url(/Kayse_380-9878.jpg);
    background-position: 0px -100px;
    background-size: 105%;
    h1{
        bottom: 15px;
        left: 45px;
        font-family: 'Kaushan Script', cursive;
        color: $dark_purple;
        font-size: 82px;
        position:absolute;

        @include single-text-shadow(2px, 1px, 1px, false, #222);
    }
    
    
    #main-nav{
        line-height:40px;
        font-size:18px;
        width:60%;
        float:right;
        margin-top:370px;
        text-align: center;
        background: linear-gradient(to right, rgba(255,255,255, .1), rgba(255,255,255, .7));
        
        &.affix{
            margin:0;
            top:0;
            width:100% !important;
            background: linear-gradient(to bottom, $dark_purple2, $dark_purple) !important;
            z-index: 2;
            a{
                color:#fff;
                padding-top:2px;
                padding-bottom:2px;
            }
            li.active{
                background: linear-gradient(to bottom, lighten($dark_purple2, 8), $dark_purple);
                border-bottom: none;
                text-decoration: underline;
            }

        }
        
        li{
            display:inline-block;
            a{
                color: #222;
                font-family: 'Open Sans', sans-serif;
                &:hover, &:focus{
                    background-color: transparent;
                }
            }
            &.active{
                color:$nav_active;
                border-bottom:1px solid;
            }
        }
        
    }
     
}

#highlight{
    height:8px;
    background: linear-gradient(to bottom, $dark_purple2, $dark_purple);
    
}

@media screen and (max-width: 1199px){
    #main-nav{
        width:50% !important;
        background: linear-gradient(to right, rgba(255,255,255, .08), rgba(255,255,255, .8), rgba(255,255,255, .08)) !important;
        
    }
    
    #main-header{
        background-position: 0px -45px !important;
    }
}

@media screen and (max-width: 991px){
    #main-nav{
        width: auto !important; 
        float:none !important;
        margin: 0 !important;
        background: linear-gradient(top right, rgba(255,255,255, .7), rgba(255,255,255, .95), rgba(255,255,255, .7)) !important;
        text-align:center;
    }
    
    #main-header{
        background-position: 0px -30px !important;
        height: 350px !important;
    }
}

@media screen and (max-width: 767px){
    #main-nav{
        background: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255, .7)) !important;
        line-height: 50px !important;
    }
    
    #main-header{
        background-position: 0 0 !important;
        
    }
}

@media screen and (max-width: 560px){
    #main-nav{
        background-color: #fff !important;
    }
    
    #main-header{
        background-position: 0 40px !important; 
        
        h1{
            left:30px !important;
            right:30px;
            text-align:center;
            font-size: 60px;
        }
    }
}

@media screen and (max-width: 480px){
    #main-header{
        background-size: cover;
        background-position: center 50px !important;
        h1{
            font-size:45px;
        }
    }
    
    #main-nav{
        a{
            padding-left: 8px;
            padding-right: 8px;
            font-size: 15px;
        }
    }
}

.vertical-text{
    transform: rotate(90deg);
    transform-origin: left top 0;
}